<h3>Question 1</h3>
<h4>Consider the following Python module:</h4>

In [6]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

<h4>After importing the module into the interpreter, you execute<br><br>
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.</h4>

a is global variable so ve can use it in any function we want.
Here when the function runs it executes c() function and inside c() function 2 is added to a and it returns the value.

In [7]:
b()

Here the same process repeats but now the value of a = 2, So now 2 is added again to a.

In [8]:
b()

Same process is repeated one more time.

In [9]:
b()

At last when we print a, its value is been added 2+2+2 = 6.

In [10]:
a

6

<h3>Question 2</h3>
<h4>Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file.</h4>
<h4>If the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead.</h4>

In [18]:
def fileLength(name):       
    try:
        file = open(name)  #To open the file
        contents = file.read()  #Read the File content and store it in contents variable
        file.close()  
        print(len(contents))  #Counting length of the file
    except:
        print(f"File {name} not found.")  #If file is not found or the name is incorect it will print this

In [20]:
fileLength('Filelength.txt')

123

In [21]:
fileLength('Filelength.py')

File Filelength.py not found.

<h3>Question 3</h3>
<h4>Write a class named Marsupial that can be used as shown</h4>
<h4>Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:<br><br>
1.extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,<br>
2.supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and<br>
3.overloads the __str__ operator so it behaves as shown below.</h4>

In [9]:
class Marsupial:
    def __init__(self, x = 0, y = 0):
        self.i = []
        self.x = x
        self.y = y
    
    def put_in_pouch(self, value):  #To insert value in the queue.
        return self.i.append(value)
    
    def pouch_contents(self):  #To print the content of the queue.
        return self.i
    
    def jump(self, x1, y1):  #To move the kangaroo by the x and y coordinates.
        self.x += x1
        self.y += y1

class Kangaroo(Marsupial):  #Kangaroo class which is a subclass of Marsupial
    def __init__(self, x=0, y=0):
        super().__init__(x, y)
        
    def __str__(self):  #Printing the coordinates of the Kangaroo
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"

In [10]:
m = Marsupial()
k = Kangaroo(0,0)

In [4]:
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [5]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [11]:
print(k)

I am a Kangaroo located at coordinates (0, 0)

In [13]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

In [14]:
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [15]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [16]:
print(k)

I am a Kangaroo located at coordinates (3, 0)

<h3>Question 4</h3>
<h4>Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence.</h4>
<h4>Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.</h4>

In [30]:
def  collatz(num):  #Function to perform Collatz Sequence
    collatz_list = []  #List to store final values
    collatz_list.append(num)
    
    while(num != 1):
        if num%2==0:  #Checking if even then X/2
            num = num//2
            collatz_list.append(num)  #Appending the value to list
        else:  #if odd then 3X + 1
            num = num*3 + 1
            collatz_list.append(num)  #Appending the value to list
    
    print(collatz_list)

In [31]:
collatz(1)

[1]

In [32]:
collatz(10)

[10, 5, 16, 8, 4, 2, 1]

<h3>Question 5</h3>
<h4>Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.</h4>

In [22]:
def binary(num):  #Creating recursive function to perform number to binary operation
    if num < 2:   #Binary value of 0 is 0 and 1 is 1 So, if the value is less than 2 then it will return same value
        return num
    elif num < 0:  #If the value will be negative then it will print this message
        print("Please enter Positive Value.")
    else:
        recursive_binary = str(binary(num // 2))  #Use of recursive method
        result = recursive_binary + str(num % 2)  #Storing the final binary string in result variable
        return result
    
#https://stackoverflow.com/questions/9371957/recursive-function-that-prints-the-binary-representation-of-the-integer

In [23]:
binary(0)

0

In [24]:
binary(1)

1

In [25]:
binary(3)

'11'

In [26]:
binary(9)

'1001'

<h3>Question 8</h3>
<h4>Write SQL queries on the below database table that return:</h4>
<h4>a) All the temperature data.<br>
b) All the cities, but without repetition.<br>
c) All the records for India.<br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.<br>
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.<br>
g) The total annual rainfall for Cairo.<br>
h) The total rainfall for each season.<br></h4>

In [32]:
import sqlite3
con = sqlite3.connect('Problem Set 2.db')
cur = con.cursor()

In [ ]:
cur.execute("CREATE TABLE temperature (City text, Country text, Season text, Temperature float, Rainfall float)")

In [10]:
cur.execute("INSERT INTO temperature VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO temperature VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO temperature VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO temperature VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO temperature VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO temperature VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO temperature VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO temperature VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO temperature VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO temperature VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO temperature VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO temperature VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

<b>All the temperature data.</b>

In [11]:
cur.execute("SELECT * FROM temperature")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<b>All the cities, but without repetition.</b>

In [12]:
cur.execute("SELECT City FROM temperature GROUP BY City")
cur.fetchall()

[('Cairo',), ('London',), ('Mumbai',)]

<b>All the records for India.</b>

In [13]:
cur.execute("SELECT * FROM temperature WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

<b>All the Fall records.</b>

In [14]:
cur.execute("SELECT * FROM temperature WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<b>The city, country, and season for which the average rainfall is between 200 and 400 millimeters.</b>

In [15]:
cur.execute("SELECT City, Country, Season FROM temperature WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

<b>The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.</b>

In [16]:
cur.execute("SELECT City, Country FROM temperature WHERE Season = 'Fall' AND Temperature > 20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

<b>The total annual rainfall for Cairo.</b>

In [17]:
cur.execute("SELECT SUM(Rainfall) FROM temperature WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

<b>The total rainfall for each season.</b>

In [21]:
cur.execute("SELECT Season, SUM(Rainfall) FROM temperature GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

<h3>Question 9</h3>
<h4>Suppose list words is defined as follows:</h4>

In [20]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<b>Convert all the values of list to Upper Case</b>

In [36]:
upper_case = [i.upper() for i in words]
print(upper_case)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<b>Convert all the values of the Upper Case list basck to Lower Case</b>

In [38]:
lower_case = [i.lower() for i in upper_case]
print(lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<b>Creating a new list which stores length of the values of words list</b>

In [60]:
i = 0
lenght = []
while(i < len(words)):
    length.append(len(words[i]))
    i+=1
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<b>the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.</b>

In [63]:
i = 0
nested_list = []
while(i < len(words)):
    nested_list.append([words[i].upper(), words[i].lower(), len(words[i])])
    i+=1
print(nested_list)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

<b>the list of words in list words containing 4 or more characters.</b>

In [66]:
i = 0 
new_list = []
while(i < len(words)):
    if(len(words)>=4):
        new_list.append(words[i])
    i+=1
print(new_list)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']